<!DOCTYPE html>
<html>
<head>
  <title>Home - Events</title>
  <style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
    }
    .event-card {
      border: 1px solid #ccc;
      padding: 15px;
      margin: 10px 0;
    }
    form.vote-form {
      margin-top: 10px;
    }

    .postedBy {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      min-width: 150px;
    }
  </style>
</head>
<body>


  <%- include('partials/navbar', {username}) %>

  <h1>Upcoming Events</h1>


  <% if (events && events.length > 0) { %>
    <% events.forEach(event => { %>
      <div class="event-card">
        <h2><%= event.eventName %></h2>
        <p><%= event.description %></p>
        <p><strong>Address:</strong> <%= event.address %></p>


        <form class="vote-form" action="/events/vote" method="POST">
          <input type="hidden" name="eventid" value="<%= event._id %>">
          <label>
            <select name="votestatus" required>
              <option disabled selected value="">Select your vote</option>
              <option value="Going">Going</option>
              <option value="Not Going">Not Going</option>
              <option value="Not Sure">Not Sure</option>
            </select>
          </label>
          <button type="submit">Vote</button>
        </form>

        <div class="postedBy">Posted By: <%= event.owner.userName %> </div>
      </div>
    <% }) %>
  <% } else { %>
    <p>No events available. Create one!</p>
  <% } %>

</body>
</html>
